# this is a comment
# single quotes string
S3_BUCKET='env'
# double quotes string
SECRET_KEY="secret_key"
# multiline string
MESSAGE_TEMPLATE="
    Hello ${PERSON},\"

    Nice to meet you!
"
# quoted string with comment token #
SECRET_HASH="something-with-a-hash-#-this-is-not-a-comment"
# numbers
INT=12
FLOAT=12.90
# boolean
FALSE=false
TRUE=true # comment after value
COMMENT=# comment just after = sign
# empty values
EMPTY=
EMPTY_EVEN_WITH_WHITE_SPACE=   # comment after value
# unquoted raw string
RAW_ESCAPE_ESCAPE=\\'
# quoted string with \t recognized as a tab
TAB_IN_STR="\t"
# quoted string with \t not recognized as a tab
TAB_ESCAPE=\t
# interpolation
INTERPOLATE="${S3_BUCKET}.bucket.com"
# missing value interpolation are preserved
INTERPOLATE_2="${VAR_2}.bucket.com"
# interpolation are ignored in single quotes
PASSWORD='!@G0${k}k'
