# this is a comment
S3_BUCKET="env"
SECRET_KEY="secret_key"
PASSWORD='!@G0${k}k'
MESSAGE_TEMPLATE="
    Hello ${PERSON},\"

    Nice to meet you!
"
SECRET_HASH="something-with-a-hash-#-this-is-not-a-comment"
INT=12
FLOAT=12.90
EMPTY=\\'
FALSE=false
TRUE=true # comment after value
COMMENT=# comment just after = sign
TAB_IN_STR="\t"
TAB=\t
INTERPOLATE="${S3_BUCKET}.bucket.com"
INTERPOLATE_2="${VAR_2}.bucket.com"
VAR_2=me