<?xml version="1.0"?>
<ruleset name="php-utils">
    <!-- Files or folders to sniff -->
    <file>src</file>
    <file>tests</file>

    <!-- Path to our coding standard folder -->
    <rule ref="vendor/oliup/oliup-cs-php/src"/>

	<config name="testVersion" value="8.1-"/>
</ruleset>
